<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dumpinator report</title>
    <style type="text/css">
      body {
        font-size: 14px;
        font-family: sans-serif;
      }

      .result-listing {
        padding: 0;
      }

      .test-result {
        list-style: none;
        margin: 0;
      }

      .test-result.state-passed .state {
        color: #040;
        font-weight: bold;
      }

      .test-result.state-failed .state {
        color: #800;
        font-weight: bold;
      }

      .test-result .id {
        color: #018;
        font-style: italic;;
      }

      .test-result.state-passed::before {
        content: '✔';
        color: #040;
        display: inline-block;
        width: 16px;
      }

      .test-result.state-failed::before {
        content: '✘';
        color: #800;
        display: inline-block;
        width: 16px;
      }
    </style>
  </head>
  <body>
    <h1>Dumpinator report</h1>
    <ul class="result-listing">
      {{#each tests}}
        <li class="test-result state-{{state}}">
          <span class="name">{{name}}</span>
          <span class="id">{{id}}</span>
          <span class="state">{{state}}</span>
          <ul>
            {{#if left.reason}}
              <li>{{left.state}} - {{left.reason}}</li>
            {{/if}}
            {{#if right.reason}}
              <li>{{right.state}} - {{right.reason}}</li>
            {{/if}}
          </ul>
        </li>
      {{/each}}
    </ul>
  </body>
</html>
